/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: darkcyan;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-family: Verdana;
}

#banner-image-hover {
  animation: MoveUpDown 2s alternate infinite;
  position: absolute;
  left: 50px;
  width: 430;
}

#header-text-curve {
  fill:transparent;
}

#header-text-special {
  font-size: 30px;
  fill: gold;
  font-family: "Sora";
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }  
}

#main-content{
  position: absolute;
  top:200px;
  left:300px;
  font-family: "Sora";
}

#statblock {
  background-color: rgba(0, 0, 255, 0.164);
  border-radius: 15px
}

#statblock-title {
  font-family: "tiny5";
  text-shadow: 5px 5px rgb(68, 67, 145,1);
  color: gold;
  margin: 0;
  font-size: 60px;
  text-align: center;
}

#main-content li{
  padding: 5px;
}

.column {
  float: left;
  width: 40%;
  padding: 15px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}