body {
  background-color: darkcyan;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

#banner-image-hover {
  animation: MoveUpDown 2s alternate infinite;
  position: absolute;
  left: 50px;
  width: 430;
}

#header-text-curve {
  fill:transparent;
}

#header-text-special {
  font-size: 30px;
  fill: gold;
  font-family: "Sora";
  text-shadow: 2px 2px rgb(68, 67, 145, 1);
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }  
}

#my-name {
  animation: Rainbow 5s alternate infinite;
  display: inline-block;
}

@keyframes Rainbow {
  0% {
    color:red;
  }
  50% {
    color: blue;
  }  
  100% {
    color: gold;
  }
}

#equipment-info {
  font-size: small;
  padding-left: 20px;
  padding-top: 0;
  display: inline-block;
  color: rgba(0, 0, 0, 0.39)
}

#statblock h2 {
  font-family: "tiny5";
  background-color: rgba(0, 0, 255, 0.164);
  border-radius: 15px;
  padding-left: 20px;
}

.statblock-title {
  font-family: "tiny5";
  text-shadow: 4px 4px rgb(68, 67, 145, 1);
  color: gold;
  margin: 0;
  font-size: 60px;
  text-align: center;
}

#statblock a {
  color: gold;
}

#statblock a:hover {
  color: rgb(255, 123, 0);
}

#statblock a:visited {
  color: rgb(165, 144, 25);
}

#main-content{
  position: absolute;
  top:200px;
  left:300px;
  font-family: "Sora";
  width: 80%;
}

.row {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px;
}

.column {
  padding: 15px;
  display: table-cell;
  background-color: rgba(0, 0, 255, 0.164);
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  min-width: 400px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

#footer-line {
  text-align: center;
  color: rgba(0, 0, 0, 0.39)
}